<header class="mb-5 mt-0 p-3 bg-primary text-white" id="dashboard-header">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>
            <i class="fa fa-help"></i>
            About Application
          </h1>
        </div>
  
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </header>
  

<section id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      </div> <!-- col md 12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<section id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card p-4 m-4">
          <div class="card-header">
            <h3 class="card-title text-center">
              Additional Information
            </h3>
          </div> <!-- header -->

          <div class="card-body">
            <h4 class="card-subtitle">
              Basic information
            </h4>

            <p class="card-text">
                This is a panel that keeps track of particular clients and how much money they owe to a business.  It uses Angular, Bootstrap and Google's Firebase as the backend.
            </p>

            <h4 class="card-subtitle">
              Technologies used in this project:
            </h4>

            <ul class="list-group">
              <li class="list-group-item">
                Angular
              </li>
              <li class="list-group-item">
                Bootstrap
              </li>
              <li class="list-group-item">
                Font Awesome
              </li>
              <li class="list-group-item">
                Firebase
              </li>
            </ul>

            <br>

            <h4 class="card-subtitle">
              Get the code on Github
            </h4>
            
            <a class="card-link" target="_blank" href="https://github.com/jibanez74/ClientPanel">
              Go to repo <i class="fa fa-arrow-circle-o-right"></i>
            </a>
          </div> <!-- card body -->

          <div class="card-footer">
              <p class="card-text">
                  This application was coded by J.R Ibanez of <a href="https://blindpenguincode.com" target="_blank"> BlindPenguin </a> - Copyright 
                </p>
          </div> <!-- footer -->
        </div> <!-- card -->
      </div> <!--- col md 6 -->

      <div class="col-md-4">
        <img src="../../../assets/logo.png" class="mx-auto d-none d-md-block img-fluid" alt="BlindPenguin logo">
      </div> <!-- col md 4 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>