<header class="mb-5 mt-0 p-3 bg-primary text-white" id="dashboard-header">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>
            <i class="fa fa-help"></i>
            About Application
          </h1>
        </div>
  
        <div class="col-md-3">
          <a routerLink="/add-client" class="btn btn-light btn-block">
            <i class="fa fa-arrow-circle-o-left"></i>
            Dashboard
          </a>
        </div>
      </div>
    </div>
  </header>
  

<section id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      </div> <!-- col md 12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>