<header class="mb-5 mt-0 p-3 bg-light text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <i class="pr-2 fa fa-cog"></i>
          Edit Client
        </h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-4">
          <div class="card-body">
            <h3 class="text-center card-title">
              Change your settings
            </h3>
            <br>
            <form (submit)="onSubmit()">
              <div class="form-group">
                <input
                type="checkbox"
                [checked]="settings.allow_registration"
                (change)="settings.allow_registration = !settings.allow_registration"
                name="allow_registration"
                >
                <label>
                  If checked, new users can registered.
                </label>
              </div> <!-- allow registration -->
              <div class="form-group">
                <input
                type="checkbox"
                name="enable_balance_on_add"
                [checked]="settings.enable_balance_on_add"
                (change)="settings.enable_balance_on_add = !settings.enable_balance_on_add"
                >
                <label>
                  If checked, users can add a new client with a balance other than zero.
                </label>
              </div> <!-- balance on add -->
              <div class="form-group">
                <input
                type="checkbox"
                name="enable_balance_on_edit"
                [checked]="settings.enable_balance_on_edit"
                (change)="settings.enable_balance_on_edit = !settings.enable_balance_on_edit"
                >
                <label>
                  If checked, users can edit a client's balance.
                </label>
              </div> <!-- balance on edit -->
              <br>
              <div class="form-group text-center">
                <input type="submit" class="btn btn-primary btn-lg" value="Save">
              </div>
            </form>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col md 12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>