<header class="mb-5 mt-0 p-3 bg-light text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">
            Register<i class="fa fa-exclamation"></i>
          </h1>
        </div>
      </div>
    </div>
  </header>
  <br>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-4">
              <form (submit)="onSubmit()">
                <div class="form-group">
                  <label for="email">
                    Email
                  </label>
  
                  <input
                  type="text"
                  class="form-control"
                  id="email"
                  #userEmail="ngModel"
                  required
                  name="user_email"
                  [(ngModel)]="user_email"
                  [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}"
                  placeholder="enter your email address"
                  autofocus>
                  
                  <div class="invalid-feedback" [hidden]="!userEmail.errors?.required ">
                    Email is required!
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label for="password">
                    Password
                  </label>
  
                  <input
                  type="password"
                  class="form-control"
                  id="password"
                  #userPassword="ngModel"
                  name="user_password"
                  [(ngModel)]="user_password"
                  required
                  [ngClass]="{'is-invalid': userPassword.errors && userPassword.touched}"
                  placeholder="type a password">
  
                  <div [hidden]="!userPassword.errors?.required" class="invalid-feedback">
                  Password is required!
                  </div>
                </div> <!-- password -->
                <br>
                <button type="submit" class="btn btn-block btn-primary">
                  Sign in
                </button>
              </form>
            </div> <!-- card body -->
          </div> <!-- card -->
        </div> <!-- col md 6 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </section>