<header class="mb-5 mt-0 p-3 bg-light text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <i class="pr-2 fa fa-user"></i>
          Client Details
        </h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div *ngIf="client" class="card p-4 m-4">
      <div class="card-body">
        <h3 class="card-title">
          {{ client.firstName }} {{ client.lastName }}
        </h3>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <ul class="list-group">
              <li class="list-group-item">
                ID: {{ client.id }}
              </li>
              <li class="list-group-item" *ngIf="client.phone">
                Phone: {{ client.phone }}
              </li>
              <li class="list-group-item">
                Email: {{ client.email }}
              </li>
              <li class="list-group-item">
                Current balance: <strong [class.text-success]="!has_balance" [class.text-danger]="has_balance"> {{ client.balance | currency:"USD":"symbol" }} </strong>
              </li>
            </ul>
          </div> <!-- col md 8 -->
          <div class="col-md-4">
            <a routerLink="/client/edit/{{ id }}" class="btn btn-dark btn-block">
              <i class="fa fa-pencil"></i>
              Edit Client
            </a>
            <button *ngIf="enable_balance_on_edit" (click)="disable_balance_update_input = !disable_balance_update_input" type="button" class="btn btn-secondary btn-block">
              <i class="fa fa-arrow-circle-o-down"></i>
              Change balance
            </button>
            <form *ngIf="disable_balance_update_input" (submit)="change_balance()">
              <div class="input-group">
                <input type="number" class="form-control" name="balance" [(ngModel)]="client.balance" autofocus>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    Save
                  </button>
                </span>
              </div>
            </form>
            <button (click)="delete_client()" type="button" class="btn btn-block btn-danger">
              <i class="fa fa-close"></i>
              Delete Client
            </button>
          </div> <!-- col md 4 -->
        </div> <!-- row -->
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- container -->
</section>