<nav class="navbar navbar-expand-sm navbar-dark bg-primary px-2 py-1">
  <div class="container">
    <div class="navbar-brand">
      Client Panel
    </div>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-res">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="nav-res">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="user_is_auth" class="nav-item">
          <a href="#" class="nav-link" routerLink="/">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/about" class="nav-link">
          About App</a>
        </li>
      </ul> <!-- right -->
      <ul class="nav ml-auto">
        <li *ngIf="user_is_auth" class="nav-item">
          <a href="#" routerLink="/settings" class="nav-link">
            Settings
          </a>
        </li>
        <li [hidden]="user_is_auth" *ngIf="allow_registration" class="nav-item">
          <a href="#" class="nav-link" routerLink="/register">
            Register
          </a>
        </li>
        <li [hidden]="!allow_registration" *ngIf="!user_is_auth" class="nav-item">
          <a href="#" class="nav-link" routerLink="/login">
            Sign in
          </a>
        </li>
        <li *ngIf="user_is_auth" class="nav-item">
          <a class="nav-link" (click)="signOut()" href="#">
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- container -->
</nav>