<nav class="navbar navbar-dark bg-dark navbar-expand-sm m-0 py-1 px-3">
  <div class="container">

    <a class="navbar-brand">
      ClientPanel
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-res">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-res">
      <ul class="navbar-nav mr-auto">
        <li [hidden]="!is_logged_in" class="nav-item">
          <a routerLink="/" class="nav-link">
            Dashboard
          </a>
        </li>
        <li *ngIf="is_logged_in" class="nav-item">
          <a routerLink="/settings" class="nav-link">
            Settings
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">
            About
          </a>
        </li>
      </ul> <!-- mr auto -->

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!is_logged_in && !block_registration" class="nav-item">
          <a routerLink="/register" class="nav-link">
            Register
          </a>
        </li>
        <li *ngIf="!is_logged_in && !block_registration" class="nav-item">
          <a routerLink="/login" class="nav-link">
            Sign in
          </a>
        </li>
        <li *ngIf="is_logged_in" class="nav-item">
          <a class="nav-link" (click)="click_to_logout()">
            Sign out
          </a>
        </li>
      </ul>
    </div> <!-- collapse -->
  </div> <!-- container -->
</nav>