<header class="mb-5 mt-0 p-3 bg-light text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>
          <i class="pr-2 fa fa-pencil"></i>
          Edit Client
        </h1>
      </div>
      <div class="col-md-3">
        <a routerLink="/client/{{ client.id }}" class="btn btn-block btn-light" role="button">
          <i class="fa fa-arrow-circle-o-left"></i>
          Back to Details
        </a>
      </div>
    </div>
  </div>
</header>

<section>
<div class="container">
  <form #EditForm="ngForm" (ngSubmit)="onSubmit(EditForm)">
    <div class="card m-3">
      <div class="card-header">
        <h4 class="card-title text-center">
          Fill out the form below to edit this client's details!
        </h4>
      </div> <!-- header -->
      <div class="card-bodyy p-4">
        <div class="form-group">
          <label for="firstName">
            Client's first name
          </label>
          <input
          type="text"
          class="form-control"
          name="firstName"
          [(ngModel)]="client.firstName"
          #clientFirstName="ngModel"
          required
          minlength="2"
          maxlength="30"
          [ngClass]="{'is-invalid': clientFirstName.errors && clientFirstName.touched}">

          <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
            Required field!
          </div>
          <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
            Name must be at least 2 characters long and no more than 30!
          </div>
        </div> <!-- first name -->
        <div class="form-group">
          <label for="lastName">
            Client's last name
          </label>
          <input
          type="text"
          class="form-control"
          required
          minlength="2"
          maxlength="30"
          name="lastName"
          [(ngModel)]="client.lastName"
          [ngClass]="{'is-invalid': clientLastName.errors && clientLastName.touched}"
          #clientLastName="ngModel">

          <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
              Required field!
            </div>
            <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
              Last name must be at least 2 characters long and no more than 30!
            </div>
        </div> <!-- last name -->
        <div class="form-group">
          <label for="phone">
            Client's phone number (optional)
          </label>
          <input
          type="text"
          class="form-control"
          name="phone"
          [(ngModel)]="client.phone"
          #clientPhone="ngModel">
        </div> <!-- phone -->
        <div class="form-group">
          <label for="label">
            Client's email address
          </label>
          
          <input
          type="text"
          class="form-control"
          required
          name="email"
          [(ngModel)]="client.email"
          #clientEmail="ngModel"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched}">

          <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
            Enter a valid email address!
          </div>
          <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
            Required field!
          </div>
        </div> <!-- email -->
        <div *ngIf="enable_balance_on_edit" class="form-group">
          <label for="balance">
            Client's balance
          </label>

          <input
          type="number"
          class="form-control"
          name="balance"
          [(ngModel)]="client.balance"
          #clientBalance="ngModel">
        </div> <!-- balance -->
      </div> <!-- body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">
          Save Changes
        </button>
      </div> <!-- footer -->
    </div> <!-- card -->
  </form>
</div> <!-- container -->
</section>